@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <NavLink class="nav-link" href="/">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
        </NavLink>
        <NavLink class="nav-link" href="auth/updateUser">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Update User
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
