<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Team16Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="serviceStaffHome" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Service Staff Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="staff">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Staff List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rides">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ride List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="staffrides">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Staff Ride List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ridesNeedMaintenance">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Do Maintenance
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
